# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# Vector database
# =========================
vectorstore/chroma_db/

# Raw PDFs
data/raw/pdfs/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db